<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog List</title>
</head>
<body>
<h1>Blog List</h1>
<a href="/blogs/new">Create New Post</a>
<div>
    <ul>
        <li th:each="post : ${posts}">
            <a th:href="@{/blogs/{id}(id=${post.id})}" th:text="${post.title}"></a>
            <form th:action="@{/blogs/{id}/delete(id=${post.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
</div>
</body>
</html>
